*{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.card-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}

/* .traffic-light-wrapper{
  text-align: center;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
} */

/* .traffic-light{
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #202020;
  border-radius: 10px;
  padding: 20px;
}

.next-light{
  padding: 10px;
  margin-left: 32px;
  font-size: 18px;
  background-color: lightgray;
  border-radius: 10px;
  border: 1px solid #202020;
  cursor: pointer;
} */

.search{
  width: 38%;
  margin: auto;
  text-align: center;
  margin-top: 40px;
  border-radius: 15px;
  border: 1px solid black;
  padding: 10px;

}

.search input {
  width: 75%;
  font-size: 18px;
  border: none;
  background-color: transparent;
  padding: 4px;
  border-bottom: 1px solid #666;
}

.search button{
  width: 20%;
  font-size: 18px;
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
  background-color: #ccc;
  margin-left: 20px;
  cursor: pointer;
}

.search button:hover{
  border: 1px solid gray;
}

input:focus{
  outline: none;
}

.filter{
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}

.filter b{
  font-size: 22px;
}

.listCheckbox{
  margin-left: 20px;
  display: flex;
}

.listCheckbox input{
  margin: 0px 4px 0px 16px;
}